<h1>@ViewData["Title"]</h1>
<body style="background-color:mintcream; text-align:center;">
    <header>

        <h1>About Us....</h1>
    </header>
    <hr>
    </p>
    Do college rankings really matter? Do the prospective students really consider them while making their decision about a particular college or university? Have you ever gave a thought to rankings while applying to the colleges or universities? How you made your decision or how you are going to advise about a particular institution? In this article, we’ll answer all these questions which come to your mind when you hear about the college rankings.

    There are always two schools of thoughts on this matter. Understanding the college or university rankings is a tricky affair. Do they really tell you about the real worth of a degree from a specific college? For some, these rankings are not perfect as different evaluating bodies use different methodologies for giving ranking to the colleges. For others, it gives a neat list which makes it easy to select the one where you want to apply. So, what is actually behind these numbers?
    <p>
        <footer>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p><b>Phone:+91 9348347856</b></p>
            <a href="MailTo:College@College.com">College@College.com</a>


        </footer>


</body>