<h1>@ViewData["Title"]</h1>

<body style="background-color:mintcream; text-align:center;">
    <h1>Register Page....</h1>
    <hr>
    <form action="Ex.html" method="Post">
    <table align="center" style="border:3px solid red; background-color:aqua">

        <tr>
            <td>First Name:</td>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" name="Subject" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="Email" /></td>
        </tr>
        <tr>
            <td valign="top">Discription:</td>
            <td><textarea cols="22" rows="3" name="Body"></textarea></td>
        </tr>
        <tr>
            <td>ChooseFile:</td>
            <td><input type="file" name="Attachment" /></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Submit"  /></td>
        </tr>
    </table>
        </form>
</body>