@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fak.picdn.net%2Fshutterstock%2Fvideos%2F5117147%2Fthumb%2F2.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fvideo%2Fclip-14102615-mixed-ethnicity-groups-students-chatting-together-they&tbnid=jvVdjU5lwJZciM&vet=12ahUKEwiPtIq_xs34AhWzj9gFHdhlCrgQMygPegUIARDkAQ..i&docid=TPw97U0E0TLsJM&w=852&h=480&q=university%20images%20hd&ved=2ahUKEwiPtIq_xs34AhWzj9gFHdhlCrgQMygPegUIARDkAQ">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:mintcream">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwdl5Pvs0Vbp0Tnnb7EsOqjBbHB9ueaTguy0I0ZIjV8QQpWkuQnTnLhBdtDmEfe6BTWY0&usqp=CAU" style="width:100%;height:100%"/>

        
    </body>
